body, html, #root {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar {
  min-width: 280px;
  max-width: 300px;
  width: 20vw; /* responsive to screen size */
  background-color: #1c1c1c;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-right: 1px solid #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo-image {
  max-width: 180px;
  height: auto;
}

.label {
  font-size: 18px;
  color: #bbb;
}

.dropdown {
  padding: 6px;
  background-color: #2a2a2a;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}

.account-section {
  margin-top: auto;
}

.spotify-btn {
  background: #0a3617;
  border: none;
  color: #1DB954;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 16px;
  white-space: nowrap;
  width: 100%;
  color: white;
}

.spotify-icon {
  width: 40px;
  height: 40px;
}

.globe-container {
  flex: 1;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform: translateX(-40px);
}

.floating-panel {
  position: absolute;
  right: 20px; /* bring panel closer to globe */
  top: 40px;
  background-color: #181818;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,255,255,0.3);
  width: 260px;
  z-index: 10;
  border: 1px solid #00ffff;
}

.floating-panel h3 {
  margin-top: 0;
  color: #1ed760;
}

.floating-panel ul {
  list-style: none;
  padding-left: 0;
}

.floating-panel li {
  margin-bottom: 6px;
}